body {
  background-image: url(../img/wood.jpg);
}
button {
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
#suggestion {
  display: none;
  font-size: 23px;
  text-align: center;
  border: 10px solid #cc0000;
}
.jumbotron {
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
}
img {
  display: block;
  margin: auto;
  height: 180px;
}
